$color_black: #000;
$color_border: #2C2C2C;
$color_light_gray: #5f6368;
$color_light_gray_1: #E4E4E4;
$color_light_gray_2: #707070;
$color_dark_gray: #202124;
$color_white: #fff;
$color_off_white: #E3EBF8;
$color_off_white_1: #E5E5E5;
$color_yellow: #FFBF00;
$color_active: #feefc3;
$color_beige: #F5F5DC;
$color_error: #FF4500;
$color_success: #00D100;
$color_btn: #24a0ed;