@import '../../sass/all.scss';

.task_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 16px;
    .to_do_section {
        width: 100%;
        @include breakpoint(sm) {
            margin-right: 24px;
        }
    }
    .upcoming_task_section {
        width: 100%;
        @include breakpoint(sm) {
            margin-left: 24px;
        }
    }
    @include breakpoint(sm) {
        flex-direction: row;
        padding: 0 24px;
    }
}